.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Home.css */
.home-container {
  text-align: center;
}

.home-container h2 {
  margin-bottom: 20px;
}

.home-container button,
.home-container a {
  display: block;
  margin-bottom: 10px;
}

/* Login.css */
.login-container {
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container p {
  color: red;
  margin-bottom: 10px;
}

.login-container input,
.login-container button {
  margin-bottom: 10px;
}

/* Register.css */
.register-container {
  text-align: center;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container p {
  margin-bottom: 10px;
}

.register-container input,
.register-container button {
  margin-bottom: 10px;
}